.category-div {
    text-align: center;
    font-size: 1.4vw;

    a {
        color: #000000;
    }

    a:hover {
        text-decoration: none;
        color: #ff3333;
    }

    &-wrapper {
        margin: 0 auto;
        width: 60%;
    }
}