<div class="category-div-wrapper row">
    <div class="category-div col-sm" *ngFor="let cat of categoryList">
      <a [routerLink]="['/', cat.path]">
        <p>{{ cat.path | uppercase }}</p>
      </a>
    </div>
  </div>