.album-list {
    border: 1px solid;
    text-align: center;
}

.featurette-divider {
    margin: 25px 25%;
}
.members-div {
    padding: 0px;
    overflow: hidden;
}

.members-img {
    transition: all 1s;
    width: 100%;
    min-height: 101%;
    min-width: 101%;
    filter: grayscale(100%);
}

.members-img:hover {
    transform: scale(1.1);
    filter: none;
}