<app-header></app-header>
<app-category-list></app-category-list>
<div class="container">
  <!-- Three columns of text below the carousel -->
  <div class="row">
    <ng-container *ngFor="let members of membersList">
      <div class="members-div col-sm-6">
        <a>
          <img class="members-img" src="{{members.image}}" alt="">
        </a>
      </div><!-- /.col-lg-4 -->
    </ng-container>
  </div><!-- /.row -->
</div><!-- /.container -->